
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="fonts/icomoon/style.css">
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<link rel="stylesheet" href="css/tiny-slider.css">
	<link rel="stylesheet" href="css/aos.css">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav">
		<div class="container">
			<div class="menu-bg-wrap">
				<div class="site-navigation">
					<a href="index.html" class="logo m-0 float-start">DDC</a>
					<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
						<li ><a href="index.html">Trang Chủ</a></li>
						<li  ><a href="properties.html">Thuê Phòng Trọ</a></li>
						<li ><a href="properties2.html">Thuê Căn Hộ</a></li>
						
						<li class="active"><a href="about.html">Giới Thiệu</a></li>
						<li ><a href="contact.html">Liên Hệ</a></li>
					</ul>

					<a href="#" class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none" data-toggle="collapse" data-target="#main-navbar">
						<span></span>
					</a>

				</div>
			</div>
		</div>
	</nav>

	<div class="hero page-inner overlay" style="background-image: url('images/hero_bg_3.jpg');">

		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-9 text-center mt-5">
					<h1 class="heading" data-aos="fade-up">Giới Thiệu</h1>
				</div>
			</div>
		</div>
	</div>


	<div class="section">
		<div class="container">
			<div class="row text-left mb-5">
				<div class="col-12">
					<h2 class="font-weight-bold heading text-primary mb-4">Giới thiệu Doanh Nghiệp</h2>
				</div>
				<div class="col-lg-6">
					<p class="text-black-50">Tôn chỉ hoạt động của chúng tôi là sự uy tín, chân thành, tận tâm phụng sự thể hiện bởi slogan "YOUR HAPPINESS IS OUR MISSION"</p>
					<p class="text-black-50">Được thành lập vào cuối năm 2015,CÔNG TY CỔ PHẦN BẤT ĐỘNG SẢN DDC đã trở thành một trong những Sàn Giao Dịch Bất Động Sản uy tín hàng đầu tại Thành Phố Hà Nội nói riêng và thị trường bất động sản Việt Nam nói chung.</p>
					<p class="text-black-50">Công Ty BĐS DDC tự hào là "ĐỐI TÁC CHIẾN LƯỢC - PHÂN PHỐI CHÍNH THỨC F1" các dự án, khu đô thị của những chủ đầu tư Uy Tín tại Việt Nam như (Vingroup, Novaland, Vinhomes, Sunshine, Masterise Homes, Hồng Hà, Đất Xanh...)</p>
					<p class="text-black-50">Sàn giao dịch bất động sản DDC chuyên tư vấn môi giới & phân phối các dự án bất động sản với đa dạng loại hình Căn hộ chung cư, Nhà phố, Biệt thự, Shophouse Condotel & Bất động sản nghỉ dưỡng tại thị trường TP.Hà Nội, Hồ Chí Minh, Đà Nẵng, Nha Trang, Phú Quốc, Vũng Tàu, Phan Thiết...</p>
				</div>
				<div class="col-lg-6">
					<p class="text-black-50">Là con dân của thành phố Hải Dương, ước muốn lớn nhất của BẤT ĐỘNG SẢN DDC trở thành đơn vị (sàn) giao dịch & tư vấn đầu tư Bất Động Sản chuyên nghiệp, mang đến các dự án đẹp với sự phát triển bền vững tại Hà Nội cũng như trên cả nước, tạo ra giá trị lâu dài thực sự, để Thành Phố Hà Nội ngày càng "Đáng Sống" hơn.</p>
					<p class="text-black-50">Tôn chỉ hoạt động của DDC là sự uy tín, ân cần & phụng sự thể hiện bởi slogan"YOUR HAPPINESS IS OUR MISSION"- đến nay đã thực sự đi vào lòng các nhà đầu tư & khách hàng tại Việt Nam cũng như Quốc Tế</p>
				</div>
			</div>

		</div>
	</div>

	<div class="section pt-0">
		<div style="text-align: center;">
			<h1 >VÌ SAO BẠN NÊN CHỌN CHÚNG TÔI</h1>
			<p class="text-black-50"> 6 lý do bạn nên chọn Bất Động Sản DDC </p>
			<p class="text-black-50">Uy tín và năng lực chuyên môn cao là khung tiêu chí của Bất Động Sản DDC. </p>
			<p class="text-black-50">Chúng tôi quan niệm sâu sắc rằng các lợi ích về tài chính, về thương hiệu,...của các bên phải hài hoà, và không tách rời với lợi ích của khách hàng, của cộng đồng & của xã hội</p>

		</div>
		<div class="container">
			<div class="row justify-content-between mb-5">
				<div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
					<div class="img-about dots">
						<img src="images/hero_bg_3.jpg" alt="Image" class="img-fluid">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="d-flex feature-h">
						<span class="wrap-icon me-3">
							<span class="icon-Like"></span>
						</span>
						<div class="feature-text">
							<h3 class="heading">THƯƠNG HIỆU UY TÍN</h3>
							<p class="text-black-50">Chúng tôi tự hào được hàng ngàn khách hàng tin tưởng, tự hào là công ty bất động sản uy tín, là thương hiệu tin cậy.</p>   
						</div>
					</div>

					<div class="d-flex feature-h">
						<span class="wrap-icon me-3">
							<span class="icon-person"></span>
						</span>
						<div class="feature-text">
							<h3 class="heading">CHUYÊN NGHIỆP</h3>
							<p class="text-black-50">Đội ngũ nhân viên giàu kinh nghiệm, năng lực chuyên môn cao, tận tâm phụng sự chuyên nghiệp nhất.</p>   
						</div>
					</div>

					<div class="d-flex feature-h">
						<span class="wrap-icon me-3">
							<span class="icon-security"></span>
						</span>
						<div class="feature-text">
							<h3 class="heading">CHẤT LƯỢNG</h3>
							<p class="text-black-50">Tư vấn & mang đến cho quý khách hàng những sản phẩm bất động sản chất lượng có giá trị cho người ở, nhà đầu tư.</p>   
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section pt-0">
		<div class="container">
			<div class="row justify-content-between mb-5">
				<div class="col-lg-7 mb-5 mb-lg-0">
					<div class="img-about dots">
						<img src="images/hero_bg_2.jpg" alt="Image" class="img-fluid">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="d-flex feature-h">
						<span class="wrap-icon me-3">
							<span class="icon-cog"></span>
						</span>
						<div class="feature-text">
							<h3 class="heading">ĐỐI TÁC UY TÍN</h3>
							<p class="text-black-50">Chúng tôi là Đại Lý Chiến Lược chính thức F1 của chủ đầu tư: Vingroup, Novaland, Đất Xanh, Sunshine, Khang Điền, Nam Long, Masterise vv....</p>   
						</div>
					</div>

					<div class="d-flex feature-h">
						<span class="wrap-icon me-3">
							<span class="icon-balance-scale"></span>
						</span>
						<div class="feature-text">
							<h3 class="heading">PHÁP LÝ ĐẢM BẢO</h3>
							<p class="text-black-50">Chúng tôi luôn hoàn thành đầy đủ nghĩa vụ và tư vấn tận tình các thủ tục pháp lý liên quan cho khách hàng</p>   
						</div>
					</div>

					<div class="d-flex feature-h">
						<span class="wrap-icon me-3">
							<span class="icon-perm_phone_msg"></span>
						</span>
						<div class="feature-text">
							<h3 class="heading">HỖ TRỢ TỐT NHẤT</h3>
							<p class="text-black-50">DDC Lấy khách hàng là trung tâm, chúng tôi hiểu sứ mệnh của mình, luôn hỗ trợ khách hàng Trước Trong & Sau khi mua tận tình nhất.</p>   
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
					<img src="images/img_1.jpg" alt="Image" class="img-fluid">
				</div>
				<div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="100">
					<img src="images/img_3.jpg" alt="Image" class="img-fluid">
				</div>
				<div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
					<img src="images/img_2.jpg" alt="Image" class="img-fluid">
				</div>
			</div>
			<div class="row section-counter mt-5">
				<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
					<div class="counter-wrap mb-5 mb-lg-0">
						<span class="number"><span class="countup text-primary">2917</span></span>
						<span class="caption text-black-50"># of Buy Properties</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
					<div class="counter-wrap mb-5 mb-lg-0">
						<span class="number"><span class="countup text-primary">3918</span></span>
						<span class="caption text-black-50"># of Sell Properties</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
					<div class="counter-wrap mb-5 mb-lg-0">
						<span class="number"><span class="countup text-primary">38928</span></span>
						<span class="caption text-black-50"># of All Properties</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
					<div class="counter-wrap mb-5 mb-lg-0">
						<span class="number"><span class="countup text-primary">1291</span></span>
						<span class="caption text-black-50"># of Agents</span>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="section sec-testimonials bg-light">
		<div class="container">
			<div class="row mb-5 align-items-center">
				<div class="col-md-6">
					<h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">BAN LÃNH ĐẠO</h2>
				</div>
				<div class="col-md-6 text-md-end">
					<div id="testimonial-nav">
						<span class="prev" data-controls="prev">Prev</span>

						<span class="next" data-controls="next">Next</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">

				</div>
			</div>
			<div class="testimonial-slider-wrap">
				<div class="testimonial-slider">
					<div class="item">
						<div class="testimonial">
							<img src="images/person_1-min.jpg" alt="Image" class="img-fluid rounded-circle w-25 mb-4">
							<h3 class="h5 text-primary">Đại Vũ</h3>
							<p class="text-black-50">Nhà thiết kế ,Đồng sáng lập</p>

							<p>Uy tín và Năng lực chuyên môn cao là khung tiêu chí của Bất Động Sản DDC. Tôi quan niệm sâu sắc rằng lợi ích về tài chính, về thương hiệu,... của các bên phải hài hoà và không tách rời với lợi ích của khách hàng, của cộng đồng và xã hội</p>

							<ul class="social list-unstyled list-inline dark-hover">
								<li class="list-inline-item"><a href="#"><span class="icon-twitter"></span></a></li>
								<li class="list-inline-item"><a href="#"><span class="icon-facebook"></span></a></li>
								<li class="list-inline-item"><a href="#"><span class="icon-linkedin"></span></a></li>
								<li class="list-inline-item"><a href="#"><span class="icon-instagram"></span></a></li>
							</ul>

						</div>
					</div>

					<div class="item">
						<div class="testimonial">
							<img src="images/person_2-min.jpg" alt="Image" class="img-fluid rounded-circle w-25 mb-4">
							<h3 class="h5 text-primary">Dũng Đào</h3>
							<p class="text-black-50">Nhà thiết kế ,Đồng sáng lập</p>

							<p>Uy tín và Năng lực chuyên môn cao là khung tiêu chí của Bất Động Sản DDC. Tôi quan niệm sâu sắc rằng lợi ích về tài chính, về thương hiệu,... của các bên phải hài hoà và không tách rời với lợi ích của khách hàng, của cộng đồng và xã hội</p>

							<ul class="social list-unstyled list-inline dark-hover">
								<li class="list-inline-item"><a href="#"><span class="icon-twitter"></span></a></li>
								<li class="list-inline-item"><a href="#"><span class="icon-facebook"></span></a></li>
								<li class="list-inline-item"><a href="#"><span class="icon-linkedin"></span></a></li>
								<li class="list-inline-item"><a href="#"><span class="icon-instagram"></span></a></li>
							</ul>


						</div>
					</div>

					<div class="item">
						<div class="testimonial">
							<img src="images/person_3-min.jpg" alt="Image" class="img-fluid rounded-circle w-25 mb-4">
							<h3 class="h5 text-primary">Cường Trịnh</h3>
							<p class="text-black-50">Nhà thiết kế ,Đồng sáng lập</p>

							<p>Uy tín và Năng lực chuyên môn cao là khung tiêu chí của Bất Động Sản DDC. Tôi quan niệm sâu sắc rằng lợi ích về tài chính, về thương hiệu,... của các bên phải hài hoà và không tách rời với lợi ích của khách hàng, của cộng đồng và xã hội</p>

							<ul class="social list-unstyled list-inline dark-hover">
								<li class="list-inline-item"><a href="#"><span class="icon-twitter"></span></a></li>
								<li class="list-inline-item"><a href="#"><span class="icon-facebook"></span></a></li>
								<li class="list-inline-item"><a href="#"><span class="icon-linkedin"></span></a></li>
								<li class="list-inline-item"><a href="#"><span class="icon-instagram"></span></a></li>
							</ul>


						</div>
					</div>


				</div>
			</div>
		</div>
	</div>

	<div class="site-footer">
		<div class="container">

			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<h3>Trụ Sở Chính</h3>
						<address>Tầng 31, Keangnam Hanoi Landmark, Phạm Hùng, Nam Từ Liêm, Hà Nội</address>
						<ul class="list-unstyled links">
							<li><a href="tel://0232132131">+84 0232132131</a></li>
							<li><a href="tel://0235454546">+84 0235454546</a></li>
							<li><a href="mailto:BDSDDC@gmail.com">BDSDDC@gmail.com</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<div class="widget">
						<h3>Liên Hệ</h3>
						<ul class="list-unstyled float-start links">
							<li><a href="#">Liên Hệ</a></li>
							<li><a href="#">Thông báo</a></li>
							<li><a href="#">Câu Hỏi Thường Gặp</a></li>
							<li><a href="#">Báo Giá Hỗ Trợ</a></li>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Instagram</a></li>

						</ul>
						
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<div class="widget">
						<h3>Links</h3>
						<ul class="list-unstyled links">
							<li><a href="#">Trang chủ</a></li>
							<li><a href="#">Liên Hệ</a></li>
							<li><a href="#">Giới Thiệu</a></li>
						</ul>

						<ul class="list-unstyled social">
							<li><a href="#"><span class="icon-instagram"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
							<li><a href="#"><span class="icon-pinterest"></span></a></li>
							<li><a href="#"><span class="icon-dribbble"></span></a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-4 -->
			</div> <!-- /.row -->

          </div>
        </div>
      </div> <!-- /.container -->
    </div> <!-- /.site-footer -->



    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
    	<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
    	</div>
    </div>


    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/counter.js"></script>
    <script src="js/custom.js"></script>
  </body>
  </html>
